.card-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content:  space-between;
  width: 50vw;
  padding: 0 10px;
}

.card-content h3 {
  margin: 0;
}

.button-user + .button-user {
  margin-left: 15px;
}

.button-user {
  width: 85px;
}